@charset "ISO-8859-1";
* { margin: 0; padding: 0; outline:0; }

body {
    font-size: 12px;
    line-height: 1.3;
    font-family: Arial, Helvetica, Sans-Serif;
    color: #ccc;
    background-color:#000;
}

a { color: #00ff00; text-decoration: underline; cursor:pointer; }
a:hover { text-decoration: none; }
a img { border: 0; }

input, textarea, select { font-size: 12px; font-family: Arial, Helvetica, sans-serif; }
textarea { overflow: auto; }

.cl { display: block; height: 0; font-size: 0; line-height: 0; text-indent: -4000px; clear: both; }
.notext { font-size: 0; line-height: 0; text-indent: -4000px; }

.left, .alignleft { float: left; display: inline; }
.right, .alignright { float: right; display: inline; }
.text-right { text-align:right; }

h2 { font-size:10px; color:#f2a223; font-weight:bold; }
h3 { font-size:14px; color:#fff; font-weight:bold; }
h4 { font-size:14px; color:#f3b12b; font-weight:bold; }

#shell { width:980px; margin:0 auto; }

#header { position:relative; }

h1#logo { position:absolute; top:15px; left:0; }
h1#logo img { float:left; width:239px; height:69px;  font-size: 0; line-height: 0; text-indent: -4000px; }


#navigation { float:right; clear:right; padding-top:28px; padding-bottom:47px; }
#navigation ul { list-style:none; }
#navigation ul li { float:left; display:inline; padding-left:29px;  }
#navigation ul li a { font-size:14px; font-weight:bold; color:#fff; text-decoration:none; }
#navigation ul li a.active,
#navigation ul li a:hover { color:#00ff00; }

#sub-navigation { display:block; clear:right; border-top:1px dashed #666; border-bottom:1px dashed #666; padding:8px 0;  }
#sub-navigation ul { list-style:none; }
#sub-navigation ul li { float:left; display:inline; padding-right:23px;  }
#sub-navigation ul li a { font-size:14px; font-weight:bold; color:#fff; line-height:24px; text-decoration:none; }
#sub-navigation ul li a:hover { text-decoration:underline; }

#search { width:346px; margin:0 0 0 auto; }
#search label { float:left; display:inline; font-size:14px; font-weight:bold; color:#fff; line-height:24px; padding-right:6px; }
#search .search-field { width:238px; border: 1px solid #413e3e; background:#000; color:#787878; padding:2px 0 2px 2px; }
#search .search-button { font-size:14px; font-weight:bold; border:0; background:none; color:#fff;   cursor:pointer; }

#main { border-bottom:1px dashed #413e3e; }
#content {  }

.box { width:980px; border-bottom:1px dashed #413e3e; padding-bottom:21px; }

.box .head { width:980px; padding-top:14px; padding-bottom:11px; }
.box .head h2 { float:left; display:inline; }

.box .movie { width:152px; float:left; padding-right:12px; }
.movie-image { float:left; width:152px; height:214px; position:relative; }
.movie-image img { width:152px; height:214px; }
.movie-image a { float: left; display: inline; width:152px; height:214px; position: relative; z-index: 2; }
.play { position: absolute; top: 0; left: 0; width:152px; height:214px; background: url('../images/image-hover.png'); display:block; z-index: 5; cursor:pointer; display:none; }
.movie span.name { font-weight:bold; color:#fff; font-size:14px; text-align:center; padding-top:160px; display:block; }

.box .last { padding:0; }

.rating { float:left; width:152px; padding-top:8px; }
.rating p { float:left; font-size:10px; color:#fff; font-weight:bold; }
.rating .stars { float:left; width:60px; height:11px; background:url('../images/stars.gif') no-repeat 0 0; margin-left:2px;}
.rating .stars-in { width:48px; display:inline; background:url('../images/stars.gif') no-repeat 0 bottom; position:absolute; height:11px; font-size: 0; line-height: 0; text-indent: -4000px;}
.comments { background:url('../images/comments.gif') no-repeat 0 center; padding-left:12px; float:right; }

.content { padding-bottom:28px; }
.content .date { font-size:10px; color:#fff; }
.content img { float:left; width:68px; padding-right:8px; }
.content p { font-size:13px; color:#fff; line-height:16px; }
.content a { font-size:11px;  }

#footer { padding:15px 0 0 0; }
#footer p { text-align:center; font-size:10px; padding-bottom:11px; }
#footer a { color:#9c9c9c; font-size:10px; }
#footer a:hover { color:#00ff00; text-decoration:none; }

#footer a:hover.designby { color:#9c9c9c; text-decoration:none; }

.form1 {  
   width: 70%;  
   margin: 60px auto;  
   background: #fefefe;  
   padding: 60px 120px 80px 120px;  
   text-align: center;  
   -webkit-box-shadow: 2px 2px 3px rgba(0,0,0,0.1); 
   box-shadow: 2px 2px 3px rgba(0,0,0,0.1); 
}

label {  
  display: block;  
  position: relative;  
  margin: 20px 0px; 
}
 .label-txt {  
   position: absolute;  
   top: -1.6em;  
   padding: 10px;  
   font-family: sans-serif;  
   font-size: .8em;  
   letter-spacing: 1px;  
   color: rgb(255,255,255);  
   transition: ease .3s; 
}

 .input {  
   width: 100%;  
   padding: 10px;  
   background: transparent;  
   border: none;  
   outline: none; 
}

.line-box {  
  position: relative;  
  width: 100%;  
  height: 2px;  
  background: #BCBCBC; 
}
 .line {  
   position: absolute;  
   width: 0%;  
   height: 2px;  
   top: 0px;  
   left: 50%;  
   transform: translateX(-50%);  
   background: #8BC34A;  
   transition: ease .6s; 
}  

 .input:focus + .line-box .line {  
   width: 100%; 
}
 .label-active {  

   top: -3em; 
}

 button {  
   display: inline-block; 
   padding: 12px 24px;  
   background: rgb(220,220,220);  
   font-weight: bold;  
   color: rgb(120,120,120);  
   border: none;  outline: none;  
   border-radius: 3px;  
   cursor: pointer;  
   transition: ease .3s; 
}  
 button:hover {  
   background: #8BC34A;  
   color: #ffffff; 
}

.sign {
    padding-top: 40px;
    color: #2eb027;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 23px;
}




strong {
  font-weight: bold; 
}

em {
  font-style: italic; 
}

table {
   background: #000000; 
  border-collapse: separate; 
  box-shadow: inset 0 1px 0 #fff;
  font-size: 20px;
   line-height: 24px; 
  margin: 30px auto;
  text-align: center;
  width: 800px;
} 

 table a{
	 font-size: 20px;
	  color: #fff;
}

table h1{
	 font-size: 20px;
	  color: #fff;
} 

th {
 /*  background: url(https://jackrugile.com/images/misc/noise-diagonal.png), linear-gradient(#777, #444); */
  border-left: 1px solid #555;
  border-right: 1px solid #777;
  border-top: 1px solid #555;
  border-bottom: 1px solid #333;
  box-shadow: inset 0 1px 0 #999;
  color: #00ff00;
  font-weight: bold;
  padding: 10px 15px;
  position: relative;
  text-shadow: 0 1px 0 #000;  
}

th:after {
  background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,.08));
  content: '';
  display: block;
  height: 25%;
  left: 0;
  margin: 1px 0 0 0;
  position: absolute;
  top: 25%;
  width: 100%;
}

th:first-child {
  border-left: 1px solid #777;  
  box-shadow: inset 1px 1px 0 #999;
}

th:last-child {
  box-shadow: inset -1px 1px 0 #999;
}

td {
  border-right: 1px solid #fff;
  border-left: 1px solid #e8e8e8;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #e8e8e8;
  padding: 10px 15px;
  position: relative;
  transition: all 300ms;

  
}

td:first-child {
  box-shadow: inset 1px 0 0 #000;
} 

td:last-child {
  border-right: 1px solid #e8e8e8;
  box-shadow: inset -1px 0 0 #fff;
} 

tr {
  background: url(https://jackrugile.com/images/misc/noise-diagonal.png); 
}

tr:nth-child(odd) td {
  background: #000000 url(https://jackrugile.com/images/misc/noise-diagonal.png); 
}

tr:last-of-type td {
  box-shadow: inset 0 -1px 0 #fff; 
}

tr:last-of-type td:first-child {
  box-shadow: inset 1px -1px 0 #fff;
} 

tr:last-of-type td:last-child {
  box-shadow: inset -1px -1px 0 #fff;
} 

tbody:hover td {
  color: transparent;
  text-shadow: 0 0 3px #aaa;
}

tbody:hover tr:hover td {
  color: #444;
  text-shadow: 0 1px 0 #fff;
}

